/**
    * sass/variables/objects/forms.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// FORM STYLES
    $form-font: $body-text;
    $form-margin: $margin-xs $margin-none;
    $form-padding: $padding-xxs $padding-xxs;
    $form-border-radius: 0.00rem;