/**
    * sass/variables/colors/black.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// BLACK COLLECTION
    $black-rgb: #000000;
    $black-rich: #231f20;
    $black-neutralrich: #000104;
    $black-pantone: #2e2a25;
    $black-registration: #000000;
    $black-designer: #000000;
    $black-photoshop: #000000;
    $black-cool: #001423;
    $black-warm: #220000;
    $black-golden: #1e1b00;