/**
    * sass/theme/text/headings.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// ALL
    #{$text-headings-all} {
        // GLOBAL
            font-family: $heading-text;
            line-height: $heading-text-height;
            letter-spacing: $heading-text-spacing;
            color: $heading-text-color;
            margin: $heading-text-margin;

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //ALL

// H1
    #{$text-headings-h1} {
        // GLOBAL
            font-size: $heading-text-size + ($heading-text-size-increase * 5.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H1

// H2
    #{$text-headings-h2} {
        // GLOBAL
            font-size: $heading-text-size + ($heading-text-size-increase * 4.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H2

// H3
    #{$text-headings-h3} {
        // GLOBAL
            font-size: $heading-text-size + ($heading-text-size-increase * 3.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H3

// H4
    #{$text-headings-h4} {
        // GLOBAL
            font-size: $heading-text-size + ($heading-text-size-increase * 2.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H4

// H5
    #{$text-headings-h5} {
        // GLOBAL
            font-size: $heading-text-size + ($heading-text-size-increase * 1.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H5

// H6
    #{$text-headings-h6} {
        // GLOBAL
        font-size: $heading-text-size + ($heading-text-size-increase * 0.00);

        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE
    } //H6