/**
    * sass/theme/text/links.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

a {
    // GLOBAL
        text-decoration: none;
        color: $color-link;

        &:hover {
            text-decoration: none;
            color: $color-link-hover;
            cursor: pointer;
        } //:HOVER

    // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

    // BROWSERS
        @media #{$browser-ie} {} //IE

    &.link {
        // GLOBAL
        // MOBILE
            @media #{$screen-xs} {} //COL-XS
            @media #{$screen-sm} {} //COL-SM
            @media #{$screen-md} {} //COL-MD
            @media #{$device-mobile} {} //MOBILE

        // DESKTOP
            @media #{$screen-lg} {} //COL-LG
            @media #{$screen-xl} {} //COL-XL

        // BROWSERS
            @media #{$browser-ie} {} //IE

        &-address {
            // GLOBAL
                color: inherit;

                &:hover {
                    text-decoration: none;
                    color: $color-link-hover;
                    cursor: pointer;
                } //:HOVER

            // MOBILE
                @media #{$screen-xs} {} //COL-XS
                @media #{$screen-sm} {} //COL-SM
                @media #{$screen-md} {} //COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //COL-LG
                @media #{$screen-xl} {} //COL-XL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //.LINK-ADDRESS

        &-phone {
            // GLOBAL
                color: inherit;
                cursor: default;

                &:hover {
                    color: inherit;
                    cursor: default;
                } //:HOVER

            // MOBILE
                @media #{$screen-xs} {} //COL-XS
                @media #{$screen-sm} {} //COL-SM
                @media #{$screen-md} {} //COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //COL-LG
                @media #{$screen-xl} {} //COL-XL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //.LINK-PHONE
    } //.LINK
} //A