/**
    * sass/variables/media/screens.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// SCREENS
    $screen-xs: "(max-width: 575px)";
    $screen-sm: "(min-width: 576px)";
    $screen-md: "(min-width: 768px)";
    $screen-lg: "(min-width: 992px)";
    $screen-xl: "(min-width: 1200px)";