/**
    * sass/parts/password-protect.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

form.post-password-form {
    // GLOBAL
        @extend .wrapper-content;
        margin: $margin-sm auto !important;

    // MOBILE
        @media #{$screen-xs} {} //COL-XS
        @media #{$screen-sm} {} //COL-SM
        @media #{$screen-md} {} //COL-MD
        @media #{$device-mobile} {} //MOBILE

    // DESKTOP
        @media #{$screen-lg} {} //COL-LG
        @media #{$screen-xl} {} //COL-XL

    // BROWSERS
        @media #{$browser-ie} {} //IE

        p {
            // GLOBAL
                text-align: center;

            // MOBILE
                @media #{$screen-xs} {} //COL-XS
                @media #{$screen-sm} {} //COL-SM
                @media #{$screen-md} {} //COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //COL-LG
                @media #{$screen-xl} {} //COL-XL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //P

        input[type=submit] {
            // GLOBAL
                @extend .button-solid;

            // MOBILE
                @media #{$screen-xs} {} //COL-XS
                @media #{$screen-sm} {} //COL-SM
                @media #{$screen-md} {} //COL-MD
                @media #{$device-mobile} {} //MOBILE

            // DESKTOP
                @media #{$screen-lg} {} //COL-LG
                @media #{$screen-xl} {} //COL-XL

            // BROWSERS
                @media #{$browser-ie} {} //IE
        } //INPUT[TYPE=SUBMIT]

} //FORM.POST-PASSWORD-FORM