/**
    * sass/variables/text/body.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// BODY TEXT
    $body-text-color: $color-grayscale-dark-4;
    $body-text-height: $line-height-normal;
    $body-text-size: $font-size-base;
    $body-text-weight: 400;
    $body-text-spacing: $letter-spacing-normal;
    $body-text-margin: $margin-xs;