/**
    * sass/variables/text/font-sizes.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// BASE FONT SIZES
    $font-size-phone: 14px;
    $font-size-tablet: 14px;
    $font-size-desktop: 16px;