/**
    * sass/variables/text/headings.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// HEADINGS
    $heading-text-color: $color-grayscale-dark-8;
    $heading-text-height: $line-height-condensed;
    $heading-text-size: $font-size-base * 1.00;
    $heading-text-size-increase: 0.25;
    $heading-text-weight: 700;
    $heading-text-spacing: $letter-spacing-normal;
    $heading-text-margin: $margin-sm $margin-none;