/**
    * sass/variables/text/letter-spacing.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// LETTER SPACING
    $letter-spacing-condensed: -1px;
    $letter-spacing-normal: 0px;
    $letter-spacing-expanded: 1px;