/**
    * sass/variables/text/line-height.scss
    * @package seem
    * @author Scott Shealy
    * @version 1.0.0
    * @copyright 02/21
**/

// LINE HEIGHTS
    $line-height-none: 1.00;
    $line-height-overlap: 0.90;
    $line-height-condensed: 1.25;
    $line-height-normal: 1.50;
    $line-height-expanded: 1.75;